Django>=1.8.4
argparse==1.4.0
decorator==4.0.9
dj-database-url==0.4.0
django-debug-toolbar==1.4
django-allauth==0.24.1
gunicorn==19.4.5
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
psycopg2==2.6.1
python3-openid==3.0.9
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
static3==0.6.1
traitlets==4.1.0
virtualenv==14.0.6
whitenoise==2.0.6
