{% extends "codeeve/index.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <a href="/projects/">Go to list all projects</a>
                <a href="update/">Update the project</a>
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ project.title }}</h2>
                    <p>{{ project.created_at|date:"D d M Y"  }}</p>
                    <div class="glossy-{{ project.difficulty }}">
                    <p> {{ project.difficulty }}</p> 
                    </div>
                    <p>{{ project.description}}</p>
                    {% if project.max_members > project.participants.count %}
                       <button type="button"> Join!</button>
                    {% endif %}
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  {% if project.image %}
                    <img src = "{{project.image.url}}">
                  {% endif %}
                </div>
            </div>

        </div>

    </div>

<div>
 </div>

{% endblock %}
