{% extends "codeeve/index.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="content-section-a">

        <div class="container">
            <a href="create/">Create a project</a>
            {% for project in object_list %}
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ project.title }}</h2>
                    <div class="glossy-{{ project.difficulty }}">
                    <p> {{ project.difficulty }}</p> 
                    </div>
                    <a href="{% url 'project_details' pk=project.pk %}">Details</a>
                    {% if project.max_members > project.participants.count %}
                       <button type="button"> Join!</button>
                    {% endif %}
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  {% if project.image %}
                    <img src = "{{project.image.url}}">
                  {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

<div>
 </div>

{% endblock %}
